@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  /*margin: 3rem;*/
  font-family: 'Montserrat', sans-serif;
  /*font-size: 2rem;*/
  /*width: 85vw;
  margin: auto;*/
}

.brand-logo{
  margin-left: 2em;
}



.imageContainer {
  display: flex;
  justify-content: center;
}

/*img {
  height: 20rem;
  width: auto;
}*/

main{
  background-color: white;
}



.gamespacing{
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 1em;
}

.tow-row{
  margin-bottom: 0;
}

.tactoe-button{
  margin-bottom: 1em;
}

.hangman{
  /*border-top: 1px solid gray;*/
}

.box {
  width: 4em;
  height: 5em;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.tactoe-font{
  font-size: 2em;
}

.m{
  border: 2px solid black;
}

.tm{
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.bm{
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.l{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.r{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.X{
  /*content: 'X';*/

}

.O{
  content: 'O';
}

/*.hangman{
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}*/
.hangman-letters{
  display: flex;
  justify-content: center;
}
.hangman-tries{
  justify-content: center;
  align-items: center;
}

.hangman-box{
  border-bottom: 5px solid black;
  margin: 5px;
}

.pokemon-main{
  /*border-top: 2px solid gray;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pokemon-image{
  max-width: 300px;
  max-height: 200px;
}

.connect-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  margin: auto;
  width: 60vw;

}

.connect-row{
  display: flex;
  flex-direction: column;
}

.connect-box{
  background-color: white;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  margin: .2em;
}

.black-piece{
  background-color: black;
}

.red-piece{
  background-color: red;
}
